<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases>
        <package name="com.zwl.entity"/>
    </typeAliases>
    <environments default="one">
        <environment id="one">
            <transactionManager type="jdbc"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc_driver}"/>
                <property name="url" value="${jdbc_url}"/>
                <property name="username" value="${jdbc_userName}"/>
                <property name="password" value="${jdbc_passWord}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/zwl/dao/StudentDao.xml"></mapper>
    </mappers>
</configuration>