<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>SelectServlet</servlet-name>
        <servlet-class>com.zwl.servlet.SelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllServlet</servlet-name>
        <servlet-class>com.zwl.servlet.SelectAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectServlet</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllServlet</servlet-name>
        <url-pattern>/selectAll</url-pattern>
    </servlet-mapping>
</web-app>
